.overlay{
    width: 0%;
    background-color: rgba(3,127,255,.2);
    height: 100%;
    position: absolute;
    transition: .3s;
}
.item:hover .overlay{
    width: 100%;
    transition: .3s;
}
.line1{
    width:1px;
    height: 100%;
    background-color: #a4acc411;
    position: absolute;
    left:20%;
    z-index: -1;
}
.line2{
    width:1px;
    height: 100%;
    background-color: #a4acc411;
    position: absolute;
    left:40%;
    z-index: -1;
}
.line3{
    width:1px;
    height: 100%;
    background-color: #a4acc411;
    position: absolute;
    left:60%;
    z-index: -1;
}
.line4{
    width:1px;
    height: 100%;
    background-color: #a4acc411;
    position: absolute;
    left:80%;
    z-index: -1;
}