
body {
    background-color: #ffffff;
    direction: rtl;
}

.title {
    color: #373636;
    font-size: 20px;
}

.underline-title {
    border-bottom: 1px solid #EFEFEF;

}

.form-background-color {
    background-color: white;
}

.title-information {
    color: #676666;
    font-size: 15px;
}

.input-label {
    color: #929292;
    font-size: 14px;
}

.form-check-label {
    color: #929292;
    font-size: 14px;
}

.not-file-chosen {
    color: #929292;
    font-size: 14px;
    border-bottom: 1px solid #929292;

}

.form-control {
    border: 1px solid #e3e0e0 !important;
}

.form-control:focus {
    border: 1px solid #049372 !important;
    box-shadow: none !important;
}

select {
    border: 1px solid #049372 !important;
}

select:after {
    border: 1px solid #049372 !important;
}

select option:focus {
    border: 1px solid #049372 !important;
}

select option:hover {
    background-color: #049372 !important;
}

.btn-choosefile {
    background-color: #049372;
    color: white;
    cursor: pointer;

}

.lll {
    border-bottom: 1px solid #b8b8b8;
    color: #b8b8b8;
}

.btn-location {
    background-color: #049372;
    color: white;
    font-size: 14px;
}

.btn-register {
    background-color: #049372;
    color: white;
    font-size: 14px;
    border-radius: 0;

}

.title-background {
    background-color: white;
}

.bg-mobile {
    background-color: white;
    background-image: url("../img/bg-mobile.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 160px;
}

.modal-map-link {
    text-decoration: none;
    color: white;
}

.modal-map-link:hover {
    text-decoration: none;
    color: white;
}

#exampleModal {
    direction: ltr;
}

html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map-canvas {
    width: 500px;
    height: 480px;
}

.btn-primary {
    background-color: #049372;
    box-shadow: none !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #058266;
}

.btn-primary:active {
    background-color: #058266;
}

.btn-primary:focus {
    background-color: #058266;
}

.file-label {
    color: #929292;
    font-size: 14px;
}

input {
    width: 100% !important;
}

select {
    border: 1px solid #049372 !important;
    font-size: 12px !important;
    color: #929292;
    width: 100% !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 10px !important;
    line-height: 1.5;
    color: #757474 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-check-input {
    width: auto !important;
}

.test input {
    position: relative;
    -webkit-appearance: none;
    content: '';
    width: 5px;
    height: 5px;
    /*background-color: #321A4C;*/
    background-color: #fd7e14;
    border-radius: 50%;
    outline: 0;
    padding: 7px;
}


@media only screen and (min-width: 768px) {
    body {
        background-image: url("../img/desktop-bg.png");
    }

    .title-background {
        background-color: #fcfbf9;
        padding: 50px 20px;
        margin: 12px;
        border-radius: 30px;
    }

    .personal {
        background-color: white;
    }

}

/*LOGIN*/
.forget-password {
    font-size: 12px;
    color: #321a4c;
    text-decoration-color: #321a4c;
}

.forget-password:hover {
    font-size: 12px;
    color: #321a4c;
    text-decoration-color: #321a4c;
}

#password-box {
    width: auto !important;
}

#password-label {
    display: flex;
    justify-content: start;
    color: #929292;
    font-size: 14px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #efeeec;
    border-color: #e3e3e3;
}

.btn-outline-secondary {
    color: #fff;
    background-color: #ffffff;
    border-color: #e3e3e3;
}

.btn-outline-secondary {
    color: #049372 !important;
    background-color: transparent;
    background-image: none;
    border-color: #e3e0e0;
}

.div-center {
    margin: 0 auto;
    background-color: white;
}

/* reset-password-via-email*/
small {
    color: #929292;
    font-size: 14px;
    text-align: right;

}

/*Market-Dashboard*/
.Consumer-Products {
    height: 73px;
    background-color: #0097e6;
}

.Total-Products {
    height: 73px;
    background-color: #eb3b5a;

}

.num-box {
    color: #fff;
}

.num-box .num {
    font-size: 18px;
}

/*
 */
/*menu*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 2px;
    font-size: 36px;
    margin-right: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*boxes*/
.Total-Products {
    color: white;
    height: 95px;
    background-color: #eb3b5a;

}

.Consumer-Products {
    color: white;
    height: 95px;
    background-color: #0097e6;
}

.Finishing-Products {
    color: white;
    height: 95px;
    background-color: #049372;
}

.Total-orders {
    color: white;
    height: 95px;
    background-color: #8854d0;

}

.Deliverd-Orders {
    color: white;
    height: 95px;
    background-color: #f39c12;

}

.New-Orders {
    color: white;
    height: 95px;
    background-color: #0fb9b1;
}

.navigation-bottom-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
}

.navigation-bottom {
    background-color: #f5f5f5;
}

.navigation-bottom a {
    text-decoration: none;
    color: #9B9B9B;
}

.navigation-bottom:hover {

}

.filter-wrapper {
    border: solid 1px #EDEAEA;
    background-color: #F4F4F8;
    color: #707070;
}

.filter-sort {
    font-size: 15px !important;
}

.vertical-line {
    height: 30px;
    width: 2px;
    background-color: #EDEAEA;
    margin: 0 auto;
}

.drop-down-sort {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 54px, 0px) !important;
}

.drop-down-sort-items {
    font-size: 16px;
    color: #929292;
}

.drop-down-sort-items:hover {
    color: #049372;
}

.product-wrapper {
    background-color: white;
    font-size: 13px;
}

.badge-danger {
    background-color: #321A4C;
    left: 0;
}

.Small-font-size {
    font-size: 11px;
    color: #9B9B9B;
}

/*
radio-button-color*/
.color-picker {
    position: relative;
    -webkit-appearance: none;
    content: '';
    width: 22px !important;
    height: 22px;
    background-color: #fd7e14;
    border-radius: 50%;
    outline: 0;
    padding: 60px;
}

.color-picker:checked:after {
    content: '';
    border: solid 2px #707070;
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 50%;
    top: -4px;
    right: -4px;
    position: absolute;
}


.boxed label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid 2px #ccc;
    text-align: center;
    justify-items: center;
    padding-top: 5px;
    font-size: 13px;
}

.boxed input[type="radio"] {
    display: none;

}

.boxed input[type="radio"]:checked + label {
    border: solid 2px green;
    color: #049372;
}

.sale-price {
    color: #eb3b5a;
}

#dropdownMenuLink {
    text-decoration: none;
    color: #707070 !important;
}

#dropdownMenuLink:hover {
    text-decoration: none !important;
}

.dropdown-toggle::after {
    visibility: hidden;
}

#filterbar {
    -webkit-box-shadow: -7px 7px 6px -4px rgba(0, 0, 0, 0.14);
    box-shadow: -7px 7px 6px -4px rgba(0, 0, 0, 0.14);
}

#mySidenav {
    -webkit-box-shadow: -7px 7px 6px -4px rgba(0, 0, 0, 0.14);
    box-shadow: -7px 7px 6px -4px rgba(0, 0, 0, 0.14);
}

.search {
    text-decoration: none;
    color: #707070;
}

.search:hover {
    text-decoration: none;
    color: #707070;
}

.bottom-navigation-icon {
    font-size: 20px;
}

.navigation-bottom a:hover {
    color: #656464;
}

.header-icons {
    font-size: 23px;
}

.dashboard-icons {
    font-size: 24px;
}

.dashboard-title {
    font-size: 13px;
}

.dashboard-number {
    font-size: 20px;
}

.dropdown-menu {
    right: 0;
    border-radius: 0;
}

.navigation-bottom-wrapper a {
    font-size: 14px;
}

/*brands-list*/
.brands-slider {
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
}

.slider-brands-item {
    width: 12%;
    background-color: #ffffff;
    border: 1px solid #f3f3f3;
    color: #929292;
    font-size: 18px;
}

.button-brands-slider {
    width: 25% !important;
    background-color: #049372 !important;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.list-brands {
    background-color: #FAFAFA;
    box-shadow: 0px 0px 5px #D8D8D8;
}

.brand-english {
    color: #321a4c;
    font-weight: bold;
}

.brand-persian {
    color: #929292;

}

/*switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #049372;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*filter*/
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #F9F9FE;
    border-bottom: 1px solid #F2F2F6 !important;
}

.btn-link {
    font-weight: 400;
    color: #707070;
    background-color: transparent;
}

.btn-link:hover {
    color: #5A5959;
    text-decoration: none;
}

.accordion .fal {
    font-size: 18px;
}

.drop-down-price {
    font-size: 15px !important;
    color: #929292;
}

.drop-down-price:hover {
    font-size: 15px !important;
    color: #929292 !important;
}

.price-menu {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-30px, 50px, 0px) !important;
}

.drop-down-price a:hover {
    background-color: #049372 !important;

}

/*category-filters*/
ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
    color: #707070;

}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25c0";
    color: #707070;
    display: inline-block;
    margin-right: 8px;

}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

#myUL li label {
    font-size: 17px !important;
}

#myUL li input, .checkbox-filter {
    width: 18px !important;
    height: 18px !important;
}

.variety-label {
    font-size: 18px !important;
}

